@model TestMVC.Models.ProductDTO.ModelDetail;


<script type="text/javascript">
    $(document).ready(function () {
        console.log("detail product ready!");

        setCurrentImageValue(null);

        $('#carousel-control-prev, #carousel-control-next').click(function () {

            let getCarouselItem = document.getElementsByClassName('carousel-item');
            let getImgBelowSmall = document.getElementsByClassName('img-below-small');

            for (let i = 0; i < getCarouselItem.length; i++) {
                if (getCarouselItem[i].classList.contains('active')) {
                    getImgBelowSmall[i].style.opacity = 1;
                    getImgBelowSmall[i].scrollIntoView({
                        behavior: 'smooth',
                        block: 'center',
                        inline: 'center'
                    });
                }
                else {
                    getImgBelowSmall[i].style.opacity = 0.2;
                }
            }
        });

    });


    function setCurrentImageValue(index) {
        console.log('index', index);
        let getCarouselItem = document.getElementsByClassName('carousel-item');
        let getImgBelowSmall = document.getElementsByClassName('img-below-small');


        for (let i = 0; i < getCarouselItem.length; i++) {
            getCarouselItem[i].classList.remove('active');
            if ((i === 0 && index === null) || i === index) {
                getCarouselItem[i].classList.add('active');
            }
        }


        // set opcacity 1 for first item and 0.2 for other item
        for (let i = 0; i < getImgBelowSmall.length; i++) {

            if ((i === 0 && index === null) || i === index) {
                getImgBelowSmall[i].style.opacity = 1;

                getImgBelowSmall[i].scrollIntoView({
                    behavior: 'smooth',
                    block: 'center',
                    inline: 'center'
                });
            }
            else {
                getImgBelowSmall[i].style.opacity = 0.2;
            }
        }

</script>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-5">
        <div class="row">
            <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false"
                data-bs-interval="false">
                <div class="carousel-inner">

                    @foreach (var item in Model.products?.images ?? new List<string>())
                    {
                        <div class="carousel-item">
                            <img src="@Html.Raw(item)" class="d-block w-100" alt="..."
                                style="width: 100%;height: 250px;object-fit: scale-down;">
                        </div>
                    }

                </div>
                <button class="carousel-control-prev" id="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" id="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="row" style="margin-top:40px;">
            <div class="d-flex overflow-auto">
                @{
                    int i = 0;
                }
                @foreach (var item in Model.products?.images ?? new List<string>())
                {
                    <img src="@Html.Raw(item)" class="d-block img-below-small" alt="..."
                        style="width: 100%;height: 60px;object-fit: scale-down;margin: 0px 10px;cursor: pointer;"
                        onclick="setCurrentImageValue(@i)">
                    i++;
                }
            </div>

        </div>
    </div>
    <div class="col-7">

        <div class="row">
            <div class="col-12">
                <h1>@Model.products?.title</h1>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <h3>ราคา: <i class="fas fa-money-check-alt"></i> @string.Format("{0:0,0}", @Model.products?.price)</h3>
            </div>
        </div>


        <div class="row mt-3  ">
            <div class="col-12">
                <h4 class="fw-bold">คุณสมบัติเด่น</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="discountPercentage" style="width: 125px;">ลดราคา (%) : </span>
                    <input type="text" class="form-control" aria-label="input-  " aria-describedby="discountPercentage"
                        value="@Model.products?.discountPercentage" readonly>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="rating" style="width: 125px;">เรทติ้ง : </span>
                    <input type="text" class="form-control" aria-label="input-rating" aria-describedby="rating"
                        value="@Model.products?.rating" readonly>
                </div>
            </div>

            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="stock" style="width: 125px;">สินค้าคงเหลือ : </span>
                    <input type="text" class="form-control" aria-label="input-stock" aria-describedby="stock"
                        value="@Model.products?.stock" readonly>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="brand" style="width: 125px;">ยี่ห้อ : </span>
                    <input type="text" class="form-control" aria-label="input-brand" aria-describedby="brand"
                        value="@Model.products?.brand" readonly>
                </div>
            </div>

            <div class="col-6">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="category" style="width: 125px;">หมวดหมู่ : </span>
                    <input type="text" class="form-control" aria-label="input-categorycategory"
                        aria-describedby="category" value="@Model.products?.category" readonly>
                </div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="col-12">
                <h4 class="fw-bold">รายละเอียดสินค้า</h4>
            </div>
            <div class="col-12">
                <span>@Model.products?.description</span>
            </div>
        </div>

    </div>

</div>
